.idea
.DS_Store
.vscode
*.code-workspace
debug/
build/
.mypy_cache/
.pytest_cache/
__pycache__/
*.egg-info/
expts/
*.ipynb_checkpoints
examples/*.ipynb_checkpoints
outputs/
examples/outputs/
theseus/extlib/*.so
