version: 2.1


# -------------------------------------------------------------------------------------
# Executors
# -------------------------------------------------------------------------------------
executors:
  gpu_cuda10:
    environment:
      CUDA_VERSION: "10.2"
      CUDA_HOME: "/usr/local/cuda"
      PYTHONUNBUFFERED: 1
    machine:
      image: ubuntu-2004:202107-02
    resource_class: gpu.nvidia.small.multi # NVIDIA Tesla T4 2 GPU 4 vCPUs 15 GB RAM

  gpu_cuda11:
    environment:
      CUDA_VERSION: "11.4"
      CUDA_HOME: "/usr/local/cuda"
      PYTHONUNBUFFERED: 1
    machine:
      image: ubuntu-2004:202107-02
    resource_class: gpu.nvidia.small.multi # NVIDIA Tesla T4 2 GPU 4 vCPUs 15 GB RAM

# -------------------------------------------------------------------------------------
# Re-usable commands
# -------------------------------------------------------------------------------------
update_and_install_python: &update_and_install_python
  - run:
      name: "Preparing environment: python"
      command: |
        sudo add-apt-repository -y ppa:deadsnakes/ppa
        sudo apt-get update
        sudo apt-get install -y python3.7 python3.7-dev python3.8 python3.8-dev

install_nox: &install_nox
  - run:
      name: "Preparing environment: nox"
      command: |
        sudo apt-get install -y expect
        sudo pip install nox==2020.8.22

install_suitesparse: &install_suitesparse
  - run:
      name: "Preparing environment: suitesparse"
      command: |
        sudo apt-get install -y libsuitesparse-dev

setup_cuda10_libs: &setup_cuda10_libs
  - run:
      name: Setup CUDA drivers and libraries
      working_directory: ~/
      command: |
        # ubuntu's default gcc9.3 is too recent for cuda10.2
        sudo apt-get install -y gcc-8 g++-8
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-9 10
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 20
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-9 10
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 20
        # download and install nvidia drivers, cuda, etc
        wget --quiet --no-clobber -P ~/nvidia-downloads https://developer.download.nvidia.com/compute/cuda/10.2/Prod/local_installers/cuda_10.2.89_440.33.01_linux.run
        time sudo /bin/bash nvidia-downloads/cuda_10.2.89_440.33.01_linux.run --no-drm --silent --driver --toolkit
        sudo ldconfig /usr/local/cuda/lib64
        echo "Done installing NVIDIA drivers and CUDA libraries."
        nvidia-smi

setup_cuda11_libs: &setup_cuda11_libs
  - run:
      name: Setup CUDA drivers and libraries
      working_directory: ~/
      command: |
        # download and install nvidia drivers, cuda, etc
        wget --quiet --no-clobber -P ~/nvidia-downloads https://developer.download.nvidia.com/compute/cuda/11.3.0/local_installers/cuda_11.3.0_465.19.01_linux.run
        time sudo /bin/bash nvidia-downloads/cuda_11.3.0_465.19.01_linux.run --no-drm --silent --driver --toolkit
        sudo ldconfig /usr/local/cuda/lib64
        echo "Done installing NVIDIA drivers and CUDA libraries."
        nvidia-smi

setup_environment: &setup_environment
  - run:
      name: Setup virtualenv and tools
      working_directory: ~/project
      command: |
        virtualenv ~/theseus_venv -p /usr/bin/python3.7
        echo ". ~/theseus_venv/bin/activate" >> $BASH_ENV
        . ~/theseus_venv/bin/activate
        pip install --progress-bar off --upgrade pip
        pip install --progress-bar off --upgrade setuptools

install_torch_cuda10: &install_torch_cuda10
  - run:
      name: Install Torch for cuda10
      working_directory: ~/project
      command: |
        pip install --progress-bar off torch==1.10.0+cu102 torchvision==0.11.1+cu102 torchaudio==0.10.0+cu102 -f https://download.pytorch.org/whl/cu102/torch_stable.html
        python -c 'import torch; print("Torch version:", torch.__version__); assert torch.cuda.is_available()'

install_torch_cuda11: &install_torch_cuda11
  - run:
      name: Install Torch for cuda11
      working_directory: ~/project
      command: |
        pip install --progress-bar off torch==1.10.0+cu113 torchvision==0.11.1+cu113 torchaudio==0.10.0+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
        python -c 'import torch; print("Torch version:", torch.__version__); assert torch.cuda.is_available()'

setup_project: &setup_project
  - run:
      name: Setting up project
      working_directory: ~/project
      command: |
        pip install --progress-bar off -e .

run_tests: &run_tests
  - run:
      name: Running tests
      working_directory: ~/project
      command: |
        pytest -s theseus/tests/test_theseus_layer.py
        pytest -s theseus/extlib/tests/test_cusolver_lu_solver.py

# -------------------------------------------------------------------------------------
# Jobs
# -------------------------------------------------------------------------------------
jobs:
  py37_linux:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - <<: *install_suitesparse
      - <<: *install_nox
      - run:
          name: "Testing theseus"
          command: |
              export NOX_PYTHON_VERSIONS=3.7
              pip install nox==2020.8.22
              nox

  py38_linux:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - <<: *install_suitesparse
      - <<: *install_nox
      - run:
          name: "Testing theseus"
          command: |
              export NOX_PYTHON_VERSIONS=3.8
              pip install nox==2020.8.22
              nox

  unittests_gpu17_cuda10:
    executor: gpu_cuda10
    steps:
      - checkout
      - <<: *update_and_install_python
      - <<: *install_suitesparse
      - <<: *setup_cuda10_libs
      - <<: *setup_environment
      - <<: *install_torch_cuda10
      - <<: *setup_project
      - <<: *run_tests

  unittests_gpu17_cuda11:
    executor: gpu_cuda11
    steps:
      - checkout
      - <<: *update_and_install_python
      - <<: *install_suitesparse
      - <<: *setup_cuda11_libs
      - <<: *setup_environment
      - <<: *install_torch_cuda11
      - <<: *setup_project
      - <<: *run_tests

workflows:
  version: 2
  build:
    jobs:
      - py37_linux
      - py38_linux
      - unittests_gpu17_cuda10
      - unittests_gpu17_cuda11
